{% extends "layout.html" %}

{% block content %}


<div class="m-3">
    <h2 class="text-uppercase text-center my-4">Elenco degli operatori</h2>
    <button class="btn btn-primary mb-3"><a href="operatori/add">Aggiungi operatore</a></button>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Cognome</th>
                <th scope="col">Mansione</th>
                <th scope="col">Username</th>
                <th scope="col">Stato</th>
                <th scope="col">Modifica</th>
            </tr>
        </thead>
        <tbody>
            {% if operators is not empty %}
                {% for operator in operators %}
                    <tr>
                        <th scope="row">{{ operator.id}}</th>
                        <td>{{ operator.nome}}</td>
                        <td>{{ operator.cognome}}</td>
                        <td>{{ operator.mansione}}</td>
                        <td>{{ operator.username}}</td>
                        <td>{{ operator.stato}}</td>
                        <td><a class="btn btn-danger" href="operatori/{{operator.id}}/edit">Modifica</a></td>                          
                    </tr>
                {% endfor %}
            {% else %}
                <tr><td colspan="7">Nessun risultato trovato.</td></tr>
            {% endif %}
        </tbody>
    </table>
    
</div>
{% endblock %}

{% block footerScripts %}
<script>

</script>

{% endblock %}